.todoitem{
    display: grid;
    grid-template-columns: 260px 150px 150px;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activity{
    font-size: 20px;
    font-weight: 500;
}

.delete-btn{
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    border: none;
    background-color: maroon;
    border-radius: 12px;
    height: 50px;
    cursor: pointer;
}